* {
    scroll-behavior: smooth;
}

#body {
    margin: 0;
    font-family: "Kanit", Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #002b34;
}

a {
    text-decoration: none;
}

p {
    font-size: 23px;
}

main {
    position: relative;
    left: 0px;
    right: 0px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 50px;
}




/*MENU BAR STARTED*/
.nav-bar {
    display: flex;
    flex-direction: row;
    border-bottom: 0px solid rgb(126, 125, 125);
    align-items: center;
    border: 0;
    background: #01232a;
    z-index: 1;
    width: -webkit-fill-available;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
}

#navbar {
    width: auto;
    margin-left: auto;
    margin-right: 40px;
}


#logo {
    width: 90px;
    margin-left: 15px;
    filter: invert();
}

#navbar a {
    font-size: 120%;
    font-weight: 900;
    margin-top: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #fcfcfc;
    width: fit-content;
    display: list-item;
}

#navbar a::after {
    content: '';
    display: block;
    height: 3px;
    background-color: rgb(3, 179, 248);
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0.5px rgb(0, 204, 255);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#navbar a:hover::after {
    transform: scaleX(1);
}

#navbar li {
    padding: 12px 16px 12px 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a:hover {
    color: rgb(0, 204, 255);
    cursor: pointer;
    text-shadow: 0 0 20px #a1bcc9;

}

#navbar a:active {
    border-radius: 5px;
    text-shadow: 0 0 20px #00aeff;
}



#menu-icon {
    display: none;
}


#row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

#first,
#second,
#third {
    border: 2px solid #00ffe7;
    border-radius: 100px;
    width: 22px;
    height: 0px;
    margin: 0;
    margin-top: 6px;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 2px #00ffe7;
}

.change #first {
    transform: translate(0px, 10px) rotate(45deg);
    border: 2px solid rgb(197, 3, 3);
    box-shadow: 0px 0px 20px 2px red;
}

.change #second {
    opacity: 0;
    border: 2px solid rgb(197, 3, 3);
}

.change #third {
    transform: translate(0px, -10px) rotate(-45deg);
    border: 2px solid rgb(197, 3, 3);
    box-shadow: 0px 0px 20px 2px red;
}

.nav-bar a {
    padding: 12px;
}

/*MENU BAR ENDED*/
/*home page */
.home {
    width: fit-content;
    height: auto;
    min-height: 1000px;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
}

#home-div {
    height: auto;
    width: fit-content;
    text-shadow: 0px 0px 1.5px;
    text-align: justify;
}

#home-div h6,
h4,
p,
h5 {
    margin: 20px 0 30px 0;
    letter-spacing: 0.1px;
}

#home-div p {
    font-size: 25px;
    font-family: system-ui;
}

#home-div h5 {
    font-size: 18px;
    color: #a0a1a1;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#home-div h4 {
    font-size: 60px;
}

#home-div h6 {
    font-size: 38px;
}

#home-div h4 span {
    color: rgb(0, 204, 255);
    text-shadow: 0px 0px 5px;
}

#home-div h6 span {
    color: #00fc69;
    text-shadow: 0px 0px 5px;

}

#home-div h6 span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

#home-div h6 span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

#icons {
    padding-top: 10px;
    padding-bottom: 10px;
}

#icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    text-align: center;
    border: 2px solid rgb(0, 204, 255);
    border-radius: 100px;
    font-size: 30px;
    color: rgb(0, 204, 255);
    text-align: center;

}

#icons a:hover {
    background-color: rgb(0, 204, 255);
    box-shadow: 0px 0px 20px 1px rgb(0, 204, 255);
    color: #002b34;

}

#home-img {
    position: relative;
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    left: 30%;
    right: 40%;
    translate: (-50%, -50%);
    width: 350px;
    height: 489px;
    background: repeating-conic-gradient(from var(--a), #0059ff 0%, #00b7ff 5%, transparent 5%, transparent 40%, #0059ff 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
    padding: 9px;

}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;

}

@keyframes animate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

#home-img::before {

    content: '';
    position: absolute;
    left: 1px;
    bottom: 1px;
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    width: 350px;
    height: 454px;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45c4ff 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
    padding: 9px;
}

#home-img::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 8px;
    background: #2d2d39;
    border-radius: 20px;
    border: 8px solid #25252b;
}

#home-img-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
}

#profile-img {
    width: 350px;
    height: fit-content;
    border-radius: 20px;
}

#downloadcv {
    font-size: 18px;
    color: #a0a1a1;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 2px solid rgb(0, 204, 255);
    padding: 15px;
    border-radius: 100px;
}

#downloadcv:hover {
    color: #002b34;
    background-color: rgb(0, 204, 255);
    box-shadow: 0px 0px 20px 1px rgb(0, 204, 255);


}

/*home page ended*/

/*about page started*/
.about {
    min-height: 1000px;
    padding-top: 100px;
}

#about h4 {
    text-align: center;
}

#about-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#about-content {
    width: 85%;
}

.mybio {
    text-align: center;
}

.nav-item {
    list-style: none;
    width: 300px;
    height: 70px;
    text-align: center;
    cursor: pointer;
}


.single-progress {
    position: relative;
}

.single-progress h6 {
    font-size: 26px;
    color: #c0bcbc;
    margin: 30px 0px 25px 0px;
    font-weight: normal;
}

.label {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 20px;
    color: #86e3f4;
    font-weight: normal;
}

.progress {
    display: flex;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

.progress-bar {
    background-image: linear-gradient(90deg, #f84c4c, #9b05ff, #0019f8, #09f12f);
    height: 5px;
}

.nav-link {
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #868585;
    font-weight: bold;
    cursor: pointer;
    width: 300px;
    height: 65px;
}

.nav-pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    border: 1px solid whitesmoke;
    border-radius: 35px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.active,
.active .nav-link {
    background-color: #0365e6;
    border-radius: 100px;
    color: #f7f7f7;
}

.hidden {
    display: none;
}

#pills-skill {
    padding: 20px 0 40px 0;
}

.timeline {
    margin-top: 20px;
    position: relative;
}

.timeline:before {
    position: absolute;
    content: '';
    width: 4px;
    height: calc(100% - 150px);
    background: #00ffb4;
    left: 14px;
    top: 25px;
    border-radius: 4px;
}

.timeline-month {
    color: white;
    position: relative;
    left: -6px;
    padding: 4px 15px 4px 35px;
    background-color: #032f4f;
    display: inline-block;
    width: auto;
    font-size: 25px;
    border-radius: 40px;
    border: 1px solid #ffffff;
    margin-bottom: 46px;
}

.timeline-month span {
    position: absolute;
    top: -1px;
    left: calc(100% - 10px);
    z-index: -1;
    white-space: nowrap;
    display: inline-block;
    background-color: #111;
    padding: 4px 10px 4px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid black;
    box-sizing: border-box;
}

.timeline-month:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #00e9ff;
    border-radius: 100%;
    border: 0px solid #17191B;
    left: 11px;
    box-shadow: 0 0 9px 4px #00e9ff;
    top: 8px;
}

.timeline-section {
    padding-left: 35px;
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.timeline-date {
    padding: 2px 15px;
    background: #b51c75;
    position: relative;
    top: -25px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #17191B;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.timeline-section:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #a53e92;
    top: 11px;
    left: 20px;
}

.timeline-section:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #00e9ff;
    border: 0px solid #17191B;
    box-shadow: 0 0 6px 2px #00e9ff;
    top: 7px;
    left: 10px;
    border-radius: 100%;
}



.timeline-box {
    position: relative;
    color: #fff9f9;
    background-color: #0a737d;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #17191B;
    transition: all 0.3s ease;
    overflow: hidden;
}

.box-icon {
    position: absolute;
    right: 5px;
    top: 0px;
}

.box-title {
    padding: 10px 15px;
    font-size: 20px;
    border-bottom: 1px solid #17191B;
}

.degree {
    font-size: 15px;
    margin:10px 0 10px 0;
}


.box-title i {
    margin-right: 5px;
}

.box-content {
    padding: 5px 15px;
    background-color: white;
}

.box-item {
    margin-bottom: 5px;
    color: #535659;
    font-weight: 400;
    font-size: 15px;
}

.certificates {
    min-height: 1000px;
    padding-top: 30px;
}

#certificates h4 {
    text-align: center;
    font-size: 40px;
}

.allcertificates {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 25px;
    margin: auto;
}

.certificate {
    border: 0px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    width: 260px;
    height: 260px;
}

.cert-img {
    width: -webkit-fill-available;
    padding: 30px 30px 10px 30px;
}

#cert-img-1 {
    display: flex;
    justify-content: center;
}

.ci {
    width: 200px;
}

#ci1 {
    width: 150px;
}

.certificate h5 {
    padding: 0 30px 0px 30px;
    margin: 0;
    font-size: 25px;
    color: rgb(223, 248, 252);
}

.certificate p {
    padding: 5px 30px 30px 30px;
    margin: 0;
    font-size: 15px;
    color: rgb(131, 131, 131);
    font-weight: 700;
    text-align: right;
}

/*about page ended*/
/*project section started*/
.projects {
    min-height: 1000px;
    padding-top: 100px;
}

#projects h4 {
    text-align: center;
}

.allprojects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 50px;
}

.project {
    border: 0px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
    width: 360px;
    height: 600px;
    margin-bottom: 20px;
}

.proj-img {
    width: fit-content;
    padding: 30px 30px 20px 30px;
}

.pi {
    width: 300px;
}

.project h5 {
    padding: 0 30px 0px 30px;
    margin: 0;
    font-size: 35px;
    color: rgb(217, 248, 239);
}

.project p {
    padding: 0 30px 30px 30px;
    margin: 0;
    font-size: 19px;
    color: rgb(131, 131, 131);
    font-weight: 700;
}

#proj-cm {
    box-shadow: none;
    height: 250px;
}

#proj-cm h6 {
    position: relative;
    left: 50%;
    text-align: center;
    top: 50%;
    translate: -50%;
    margin: auto;
    color: grey;
    font-size: 40px;
}

/*project section ended*/

/*conatct form started*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
textarea {
    border: none;
    border: 1px solid #d2e0e0;
    height: 40px;
    width: 600px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 7px;
    color: rgb(1, 24, 46);
    font-size: 20px;
    outline: none;
    background-color: #deebff;
    font-weight: 600;
}

form,
textarea::placeholder {
    color: rgb(84, 86, 87);
}

form textarea {
    height: 120px;
    resize: none;

}

form #submit {
    width: 150px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    background: transparent;
    border-radius: 100px;
}

form #submit:hover {
    color: #002b34;
    background-color: rgb(0, 204, 255);
    border-color: rgb(0, 204, 255);
    box-shadow: 0px 0px 20px 1px rgb(0, 204, 255);
}

.footer {
    background: #01232a;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.footer p {
    font-size: 15px;
}

.footer p span {
    color: #22efef;
    font-weight: 900;
    font-size: 18px;
    font-family: cursive;
}

.footer #icons a {
    margin: 0 5px 0 5px;
}

.footer #logo {
    width: 75px;
}

/*conatct form ended*/
/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgb(6, 194, 194), rgb(2, 72, 129));
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #092e95, #04b5b5, #03036e);
}

/*SCROLL BAR ENDED*/
/*MOBILE VIEW*/
@media(max-width:1200px) {
    main {
        margin-left: 10%;
        margin-right: 10%;

    }

}

@media(max-width:1000px) {
    #home-img {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 300px;
        height: 419px;
        left: 0;
        right: 0;
    }

    #home-img::before {
        width: 300px;
        height: 419px;
    }

    #home-img-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    #profile-img {
        width: 300px;
    }
}

@media (max-width: 750px) {

    /*MENU BAR STARTED*/
    #navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-left: 0;
        padding-top: 0;
    }

    #navbar li {

        height: fit-content;
    }

    .nav-bar {
        flex-direction: column;
        align-items: stretch;

    }

    #row {
        display: flex;
        flex-direction: row;
    }

    #navbar {
        background-color: #013540;
        margin: auto 20px auto 20px;
    }

    #logo {
        width: 60px;
        height: auto;
    }

    #menu-icon {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-size: 110%;
        font-weight: 900;
        padding: 0px;
        width: auto;
        margin-right: 25px;

    }

    #menu-icon:hover {
        transition-delay: 1sec;
        cursor: pointer;

    }

    #navbar a {
        display: block;
        padding: 0px 16px 12px 0px;
    }

    #darkmode {
        margin: auto;
    }

    /*MENU BAR ENDED*/
    /*HOME*/
    #home-div {
        text-align: center;
    }

    #home-div p {
        text-align: calc(start, end);
    }

    main {
        margin-left: 10%;
        margin-right: 10%;

    }

    /*HOME ENDED*/
    form input {
        width: 100%;
    }

    form textarea {
        width: 100%;
    }

    /* MOBILE SCROLLBAR */
    ::-webkit-scrollbar {
        width: 5px;

    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.048);
        border-radius: 10px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent;

        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(90deg, #1653ff, cyan, blue);
    }

    /* MOBILE SCROLLBAR ENDED*/
    .footer #icons a {
        width: 30px;
        height: 30px;
        margin: 2px;
    }

    .footer #icons {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

}

@media(max-width:430px) {
    @media(max-height:900px) {
        .home {
            padding-top: 50px;
        }

        #home h5 {
            font-size: 13px;
        }

        #home h4 {
            font-size: 50px;
        }

        #home p {
            font-size: 20px;
        }

        #home h6 {
            font-size: 40px;
        }

        #profile-img {
            width: 250px;
        }

        #home-img {
            width: 250px;
            height: 349px;
        }

        #home-img::before {
            width: 250px;
            height: 349px;
        }
    }
}


/*MOBILE VIEW ENDED*/
/*
#darkmode {
    display: none;
    font-size: 22px;
    cursor: pointer;
    border: none;
    color: black;
}
#darkmode:hover {
    color: aliceblue;
    background-color: rgb(31, 196, 80);
    border-radius: 5px;
}

.dark-mode {
    color: white;
}

.dark-mode #body {
    background-color: black;
}
*/